h1 {
    margin: 0 0.5em;
}

.toc {
    display: block;
    float: right;
    border: 1px solid #ccc;
    margin: 1em;
    padding: 0.5em;
}

.toc > .toctitle {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}

#run-button {
    margin: 10px;
}

.console {
    background-color: #000;
    width: 100%;
    color: #eee;
    overflow-y: scroll;
    overflow-x: auto;
    font-family: monospace;
}

.console_container {
    display: block;
    width: 100%;
    margin: 10px;
    padding: 6px 12px;
}

#codebox, .CodeMirror {
    margin: 10px;
}

.halo, .CodeMirror {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.halo:focus, .CodeMirror {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

.bottom_label {
    text-align: center;
}

#videoCanvas {
    /* Always stretch the canvas to 640x480, regardless of its
    internal size. */
    margin: 10px;
    width: 320px;
    height: 240px;
}

#tip{
    width: 100%;
}
