
{% extends main.html %}

{% block body %}
<div class="row">
      <div class="col-md-8">
          <textarea id="codebox" class="halo">
              var server = new Server('{{protocol}}://{{hostname}}:{{port}}/api', '{{current_user.api_key}}');
              server.onConnect(function(){
              &#9;server.get_robots().then(function(robots){
              &#9;&#9;println(robots);
              &#9;});
              &#10;
              &#9;server.fetch_robot().then(function(robot_obj){
              &#9;&#9;println(robot_obj);
              &#9;&#9;var robot = new Robot(server, robot_obj);
              &#9;&#9;robot.forward(100, 1);
              &#9;&#9;robot.turnLeft(100, 1);
              &#9;&#9;robot.turnRight(50, 2);
              &#9;&#9;robot.backward(50, 1);
              &#9;&#9;robot.ping().then(function(value){
              &#9;&#9;&#9;$('h1').append(value + 'cm, ');
              &#9;&#9;});
              &#9;&#9;robot.getObstacle().then(function(obstacle){
              &#9;&#9;&#9;robot.getLine().then(function(line){
              &#9;&#9;&#9;&#9;alert('Sensores de línea: ' + line + '\nSensor de obstáculo: ' + obstacle);
              &#9;&#9;&#9;});
              &#9;&#9;});
              &#9;});
              });
          </textarea>
          <input id="run-button" class="btn btn-success btn-lg pull-right" type="button" value="Ejecutar" />
          <div id="console_container">
          <textarea id="console" class="console halo" cols="80" rows="5" readonly="readonly">
          </textarea>
          </div>
      </div>
      <div class="col-md-4">
{% if disable_streaming %}
          <img class="center-block" id="videoCanvas" width="640" height="480"
          src="/img/camera_disabled.svg">
{% else %}
          <canvas class="center-block" id="videoCanvas" width="640" height="480">
              <p>
              Su navegador no soporta el elemento Canvas, pruebe con:
              <a href="http://www.google.com/chrome">Chrome</a>,
              <a href="http://www.mozilla.com/firefox/">Firefox</a>,
              <a href="http://www.apple.com/safari/">Safari</a> o Internet Explorer 10
              </p>
          </canvas>
{% end %}
          <div class="checkbox">
              <label>
                  <input id="enable-rblog" type="checkbox" checked="checked"> Habilitar modo debug
              </label>
          </div>
          <div id="tips" class="alert alert-info" role="alert">
          </div>
      </div>
</div>

<script id="runner"></script>

<!-- Create a simple CodeMirror instance -->
<script>
    var codebox = $('#codebox');
    var enable_rblog = $('#enable-rblog');
    var editor = CodeMirror.fromTextArea(codebox[0], {
        //lineNumbers: true,
        mode: 'text/javascript',
    });
    $('#run-button').click(editor, run_js);
    enable_rblog.change(function (ev){
        if (enable_rblog.prop('checked')){
            window.rblog = window.println;
        }
        else{
            window.rblog = function () {};
        }
    });

</script>
{% if not disable_streaming %}
    <script type="text/javascript" src="js/jsmpg.js"></script>
    <script type="text/javascript">
    // Show loading notice
    var canvas = document.getElementById('videoCanvas');
    var ctx = canvas.getContext('2d');
    ctx.fillStyle = '#444';
    ctx.fillText('Cargando...', canvas.width/2-30, canvas.height/3);

    // Setup the WebSocket connection and start the player
    var client = new WebSocket('{{video_ws}}');
    var player = new jsmpeg(client, {canvas:canvas});
    </script>
{% end %}
{% end %}
