<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" sizes="any" href="/favicon.ico">
        <!-- JQuery CDN -->
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="/js/jquery.cookie.js"></script>
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/js/codemirror/lib/codemirror.css">
        <link rel="stylesheet" type="text/css" href="/css/theme.css">
        <script src="/js/codemirror/lib/codemirror-compressed.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/remotebot.js"></script>
        <title>XRemoteBot</title>
    </head>
    <body>
        <div class="page-header">
            <h1>&iexcl;Aprendé a programar controlando robots reales!
                <p><small>(en Python, Javascript o Ruby)</small></p>
            </h1>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">XRemoteBot</a>
                </div>

                <!-- Collect
                    the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/javascript">&iexcl;Empez&aacute; a programar!</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Documentaci&oacute;n <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/doc/javascript">Javascript</a></li>
                                    <li><a href="/doc/python">Python</a></li>
                                    <li><a href="/doc/ruby">Ruby</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a id='login' href="/login">Entrar</a></li>
                            <li><a id='signin' href="/signin">Crear cuenta</a></li>
                            <li class="dropdown" id="user_dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="user_dropdown_title">Men&uacute; de usuario <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/user">Datos del usuario</a></li>
                                    <li class="divider"></li>
                                    <li><a id='logout' href="/logout">Salir</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container-fluid">
            {% block body %}{% end %}
        </div>
    </body>
</html>
