
{% extends main.html %}

{% block body %}
<textarea id="codebox" class="halo">
var server = new Server('{{protocol}}://{{hostname}}:{{port}}/api', '{{current_user.api_key}}');
server.onConnect(function(){
&#9;server.get_robots().then(function(robots){
&#9;&#9;println(robots);
&#9;});
&#10;
&#9;server.fetch_robot().then(function(robot_obj){
&#9;&#9;println(robot_obj);
&#9;&#9;var robot = new Robot(server, robot_obj);
&#9;&#9;robot.forward(100, 1);
&#9;&#9;robot.turnLeft(100, 1);
&#9;});
});
</textarea>
<input id="run-button" class="btn btn-success btn-lg pull-right" type="button" value="Ejecutar" />

<textarea id="console" class="console halo" cols="80" rows="5" readonly="readonly">
</textarea>

<!-- Create a simple CodeMirror instance -->
<script>
    var codebox = $('#codebox');
    var editor = CodeMirror.fromTextArea(codebox[0], {
        //lineNumbers: true,
        mode: 'text/javascript',
    });
    var run_button = $('#run-button');
    run_button.click(editor, run_js);
</script>
{% end %}
